{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="custom-select custom-select-select-lg mb-3 w-auto" name="symbol">
          <option>Choose stock to sell</option>
          {% for row in rows %}
          <option>{{ row["stock"] }}</option>
          {% endfor %}
        </select>
        <div class="form-group">
            <input type="text" name="shares" placeholder="Number of shares to sell" autocomplete="off" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}